
$emphasis-theme-color: var(--primary-color); /*  强调主题色 */
$emphasis-error-color: var(--error-color); /*  异常色 */
$emphasis-warning-color: var(--warning-color); /*  警告色 */
$emphasis-success-color: var(--success-color); /*  成功色 */
$emphasis-info-color: var(--info-color); /*  信息色 */
$emphasis-bg-color: var(--bg-color); /*  背景色 */

$font-color: var(--font-color); /*  强调字体色 */
$font-color-2:#F7F4D5;
$light-theme-color: #fff; /*  主题色一 */
$dark-theme-color: #001529; /*  主题色二 */




$base-color: RGBA(51, 146, 129, 1); /* 基础底色*/
$border-color: #DECEAE; /* 边框颜色*/
// $font-color-basis:#333; /* 基础字体颜色*/

$aside-bck-color:#333;  /* 侧边栏背景色*/
$aside-hover-color:#fff; /* 侧边栏hover字体颜色*/
$aside-color:#fff; /* 侧边栏默认字体颜色*/

